<nav class='navbar navbar-light bg-light navbar-expand-lg'>
  <div class='container-fluid'>
    <a class="nav-logo" href="https://rubyonrails.org/" target="_blank" aria-label="Ruby on Rails"></a>
    <%= link_to 'Rails 701', root_path, class: 'navbar-brand ms-5 mb-0 h1 btn btn-outline-danger' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class='collapse navbar-collapse' id="navbarSupportedContent">
      <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
        <li class="nav-item">
          <%= link_to 'About', '/about', class: 'nav-link' %>
        </li>
        <li class="nav-item">
        </li>
        <li class="dropdown">
          <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
           Login  
          </button>
          <ul class="dropdown-menu">
            <li> <%= link_to 'Login', '#', class: "dropdown-item" %></li>
            <li> <%= link_to 'Register', '#', class: "dropdown-item" %> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="card border-white" style="height: 2rem;">
</div>
